* {
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s ease;
    outline: none;
}

*::before,
*::after {
    transition: .3s ease;
}

body {
    min-width: 320px;
    position: relative;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h2 {
    font-family: Roboto Slab, sans-serif;
    font-size: 36px;
    line-height: 47px;
    color: #000008;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    max-width: 170px;
    max-height: 48px;
}

.description {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}

.details-btn {
    background-color: #0C385F;
    max-width: 190px;
    width: 100%;
    height: 50px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 0;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #0b162c;
    }
}

.yellow-btn {
    max-width: 190px;
    height: 50px;
    width: 100%;
    background-color: #FA7B1F;
    border: none;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    &:hover {
        background-color: #a55317;
    }
}

.page-name {
    position: absolute;
    top: 0;
    left: 0;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: rgba(0, 0, 8, 0.7);
}

.burger-menu {
    width: 40px;
    height: 40px;
    position: relative;
    display: none;
    cursor: pointer;
    &:hover>span {
        background-color: #FA7B1F;
    }
    &__line1,
    &__line2,
    &__line3 {
        display: block;
        position: absolute;
        width: 40px;
        height: 4px;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    &__line2 {
        top: 10px;
    }
    &__line3 {
        top: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .page-name {
        display: none;
    }
}

@import "components/header";
//footer
@import "components/footer";
//mob menu
@import "components/mob-menu";
//main-page
@import "main-page/about";
@import "main-page/excursions";
@import "components/calendar";
@import "main-page/activity";
@import "main-page/virtual";
@import "main-page/gallery";
@import "main-page/blog";
@import "components/slider";
@import "components/popup";
//excursions-type page styles
@import "excursions-type/excursions-type";
@import "excursions-type/excursions-booking";
@import "excursions-type/excursions-reviews";
@import "excursions-type/excursions-for-guests";
//for-guests page styles
@import "for-guests/information";
// attractions for a guests
@import "for-guests/attraction";
//residence
@import "residence/residence";