table.calendar
  thead
    tr
      td
        | &lsaquo;
      td.month-year(colspan='5')
      td
        | &rsaquo;
    tr.w100
    tr
      td
        | &Pcy;&ncy;
      td
        | &Vcy;&tcy;
      td
        | &Scy;&rcy;
      td
        | &CHcy;&tcy;
      td
        | &Pcy;&tcy;
      td
        | &Scy;&bcy;
      td
        | &Vcy;&scy;
        tbody