ul.header__dropdown.header__dropdown_main
    li.header__dropdown-item
        a(href="#") Історія 
        span &#8250;
        ul.header__dropdown.header__dropdown_inner
            li.header__dropdown-item
                a(href="#") Морська обсерваторія (1821-1912)
            li.header__dropdown-item
                a(href="#") Миколаївське відділення Пулково (1912-1991)
    li.header__dropdown-item
        a(href="#") Діяльність
        span &#8250;
    li.header__dropdown-item
        a(href="#") Співробітники
    li.header__dropdown-item
        a(href="#") Наші колеги
    li.header__dropdown-item
        a(href="#") Річний план закупівель
    li.header__dropdown-item
        a(href="#") Фотогалерея
    li.header__dropdown-item
        a(href="#") Блог
        span &#8250;