footer.footer
    .container.footer__container
        .footer__social-wrapper
            figure.logo
                img(src='../../img/emblem.png')
            include ../components/_social-list
        ul.footer__menu
            li.footer__menu-item
                a(href='#') Головна
            li.footer__menu-item
                a(href='#') Про обсерваторію
            li.footer__menu-item
                a(href='#') Екскурсії
            li.footer__menu-item
                a(href='#') Віртуальна обсерваторія
        .footer__contacts
            span Контакти:
            .footer__contacts-info
                svg(width='25' height='29' viewbox='0 0 25 29' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M24.8565 5.94153L18.9741 0.141511C18.7827 -0.0471705 18.4724 -0.0471705 18.281 0.141511L16.8104 1.59152C16.619 1.78026 16.619 2.08621 16.8104 2.27495L17.9344 3.38324L16.5447 4.75349C14.8751 3.54407 12.8561 2.89441 10.7844 2.8999C5.37239 2.90601 0.986585 7.23035 0.980396 12.5666V15.4666H0V19.3333H0.980396V29H20.5883V19.3333H21.5687V15.4666H20.5883V12.5666C20.5862 11.4989 20.404 10.439 20.0491 9.43024L22.0589 7.44857L22.6927 8.07497C22.8842 8.26366 23.1945 8.26366 23.3859 8.07497L24.8565 6.62497C25.0478 6.43623 25.0478 6.13028 24.8565 5.94153ZM1.96079 12.5666C1.96649 7.76401 5.91357 3.87219 10.7844 3.86657C12.5962 3.8612 14.3646 4.4128 15.8437 5.44466L11.5618 9.6666L15.6863 13.7334L19.2751 10.1949C19.4965 10.9665 19.6085 11.7647 19.6079 12.5666V15.4666H1.96079V12.5666ZM7.84317 28.0333H4.90198V24.1666H7.84317V28.0333ZM19.6079 28.0333H8.82357V23.6833C8.82357 23.4164 8.60408 23.2 8.33337 23.2H4.41178C4.14107 23.2 3.92159 23.4164 3.92159 23.6833V28.0333H1.96079V19.3333H19.6079V28.0333ZM20.5883 16.4333V18.3666H0.980396V16.4333H20.5883ZM15.6863 12.3665L12.9481 9.6666L18.6275 4.06668L21.3658 6.76659L15.6863 12.3665ZM23.0393 7.04982L17.8501 1.93323L18.6275 1.16667L23.8168 6.28325L23.0393 7.04982Z' fill='white')
                span м.Миколаїв,вул.Обсерваторна 1,
            .footer__contacts-info
                svg(width='23' height='23' viewbox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M22.3965 17.7437L17.7412 14.639C17.1504 14.2481 16.3585 14.3767 15.9218 14.9345L14.5657 16.6781C14.3915 16.9079 14.0747 16.9746 13.8226 16.8345L13.5646 16.6923C12.7095 16.2262 11.6456 15.6459 9.50189 13.5013C7.35822 11.3567 6.7768 10.2919 6.31071 9.4383L6.16927 9.18034C6.0273 8.92826 6.09269 8.6101 6.32257 8.43442L8.06492 7.07869C8.62241 6.64186 8.75118 5.85013 8.36082 5.25914L5.25628 0.603526C4.85622 0.00170956 4.05359 -0.178952 3.43425 0.193376L1.48758 1.36283C0.875922 1.72244 0.427174 2.30486 0.235431 2.98802C-0.465561 5.54235 0.0617886 9.95073 6.55527 16.4454C11.7207 21.6108 15.5661 22.9999 18.2092 22.9999C18.8175 23.0025 19.4234 22.9234 20.0106 22.7646C20.6939 22.5731 21.2763 22.1243 21.6357 21.5124L22.8062 19.5667C23.1791 18.9472 22.9985 18.144 22.3965 17.7437ZM22.1458 19.1734L20.978 21.1202C20.7199 21.5619 20.301 21.8866 19.809 22.0264C17.451 22.6738 13.3316 22.1375 7.09758 15.9031C0.863571 9.66865 0.327418 5.54927 0.974781 3.19083C1.11474 2.69816 1.43983 2.27867 1.88198 2.02021L3.82865 0.852285C4.09738 0.690578 4.44574 0.768961 4.61934 1.03012L6.30577 3.56221L7.72123 5.68533C7.89074 5.94168 7.83504 6.28526 7.59322 6.47495L5.85046 7.83067C5.3201 8.23624 5.16865 8.97007 5.49518 9.55249L5.63357 9.80394C6.12341 10.7024 6.73242 11.8201 8.95581 14.0433C11.1792 16.2664 12.2965 16.8755 13.1945 17.3654L13.4463 17.5041C14.0286 17.8306 14.7624 17.6792 15.1679 17.1488L16.5236 15.4059C16.7133 15.1642 17.0567 15.1086 17.3131 15.2779L21.968 18.3827C22.2293 18.5562 22.3077 18.9047 22.1458 19.1734Z' fill='white')
                a(href="tel:380512477014") 380 (512) 477014

