header.header
    .container
        nav.header__navigation
            figure.logo
                a(href="index.html")
                    img(src='../../img/emblem.png')
            .burger-menu
                span.burger-menu__line1
                span.burger-menu__line2
                span.burger-menu__line3
            ul.header__menu.disNone1024
                li.header__menu-item
                    a(href='index.html') Головна
                li.header__menu-item
                    a(href='#').header__dropdown-link.header__dropdown-link_first Про обсерваторію
                    //- first drop menu
                    ul.header__dropdown.header__dropdown_first
                        li.header__dropdown-item
                            a(href="#").header__dropdown-link_second Історія 
                            //- second drop menu
                            ul.header__dropdown.header__dropdown_second
                                li.header__dropdown-item
                                    a(href="#") Морська обсерваторія (1821-1912)
                                li.header__dropdown-item
                                    a(href="#") Миколаївське відділення Пулково (1912-1991)
                        li.header__dropdown-item
                            a(href="#").header__dropdown-link_second Діяльність
                            //- second drop menu
                            ul.header__dropdown.header__dropdown_second
                                li.header__dropdown-item
                                    a(href="#") Морська обсерваторія (1821-1912)
                                li.header__dropdown-item
                                    a(href="#") Миколаївське відділення Пулково (1912-1991)
                        li.header__dropdown-item
                            a(href="#") Співробітники
                        li.header__dropdown-item
                            a(href="#") Наші колеги
                        li.header__dropdown-item
                            a(href="#") Річний план закупівель
                        li.header__dropdown-item
                            a(href="#") Фотогалерея
                        li.header__dropdown-item
                            a(href="#").header__dropdown-link_second Блог
                            //- second drop menu  
                            ul.header__dropdown.header__dropdown_second
                                li.header__dropdown-item
                                    a(href="#") Новини
                                li.header__dropdown-item
                                    a(href="#") Питання/Відповідь                       
                                li.header__dropdown-item
                                    a(href="#") Статті                      
                li.header__menu-item
                    a(href='#').header__dropdown-link.header__dropdown-link_first Екскурсії
                    ul.header__dropdown.header__dropdown_first
                        li.header__dropdown-item
                            a(href="excursions-page-school.html") Шкільна
                        li.header__dropdown-item
                            a(href="#") Группова
                        li.header__dropdown-item
                            a(href="#") Індивідуальна
                        li.header__dropdown-item
                            a(href="#") Індивідуальна для гостей міста
                li.header__menu-item
                    a(href='#') Віртуальна обсерваторія
                li.header__menu-item
                    a(href='#') Контакти
            .header__search
                    svg(width='18' height='20' viewbox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M11.747 13.0531C11.8515 12.9369 11.9756 12.8447 12.1122 12.7818C12.2487 12.7189 12.3951 12.6865 12.543 12.6865C12.6908 12.6865 12.8372 12.7189 12.9738 12.7818C13.1103 12.8447 13.2344 12.9369 13.3389 13.0531L17.6701 17.8655C17.8812 18.0999 17.9998 18.4178 17.9999 18.7494C18 19.081 17.8816 19.399 17.6706 19.6336C17.4597 19.8681 17.1735 20 16.8751 20.0001C16.5767 20.0002 16.2904 19.8686 16.0793 19.6342L11.7482 14.8218C11.6436 14.7057 11.5606 14.5679 11.504 14.4161C11.4474 14.2644 11.4182 14.1017 11.4182 13.9375C11.4182 13.7732 11.4474 13.6106 11.504 13.4588C11.5606 13.3071 11.6436 13.1692 11.7482 13.0531H11.747Z' fill='#DDDDDD')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M7.31238 14.9996C8.12492 14.9996 8.92951 14.8218 9.6802 14.4763C10.4309 14.1308 11.113 13.6244 11.6875 12.986C12.2621 12.3477 12.7178 11.5898 13.0288 10.7557C13.3397 9.9216 13.4998 9.02762 13.4998 8.12481C13.4998 7.22199 13.3397 6.32801 13.0288 5.49392C12.7178 4.65983 12.2621 3.90195 11.6875 3.26356C11.113 2.62518 10.4309 2.11878 9.6802 1.77329C8.92951 1.42779 8.12492 1.24997 7.31238 1.24997C5.67138 1.24997 4.09759 1.97428 2.93723 3.26356C1.77687 4.55285 1.12498 6.30149 1.12498 8.12481C1.12498 9.94813 1.77687 11.6968 2.93723 12.986C4.09759 14.2753 5.67138 14.9996 7.31238 14.9996ZM14.6248 8.12481C14.6248 10.2796 13.8544 12.3462 12.483 13.8699C11.1117 15.3936 9.25175 16.2496 7.31238 16.2496C5.37302 16.2496 3.51308 15.3936 2.14175 13.8699C0.770409 12.3462 0 10.2796 0 8.12481C0 5.96997 0.770409 3.9034 2.14175 2.3797C3.51308 0.856004 5.37302 0 7.31238 0C9.25175 0 11.1117 0.856004 12.483 2.3797C13.8544 3.9034 14.6248 5.96997 14.6248 8.12481Z' fill='#DDDDDD')
        span.header__sub-title Науково-дослідний інститут
        h1.header__title Миколаївська астрономічна обсерваторія
        span.header__sub-title Міністерство освіти і науки

                
            