.calendar {
    height: 236px;
    width: 236px;
    margin: 10px 0;
    line-height: 1.2em;
    font-size: 14px;
    text-align: center;

    & thead tr:last-child {
        font-size: small;
        color: rgb(85, 85, 85);
    }

    & .month-year {
        color: #0C385F;
        font-size: 20px;
        line-height: 20px;
    }

    & .w100 {
        height: 20px;
    }

    & thead tr:nth-child(1) td:nth-child(1):hover,
    & thead tr:nth-child(1) td:nth-child(3):hover {
        cursor: pointer;
    }

    & tbody td {
        color: rgba(0, 0, 8, 0.4);
        border-radius: 10px;
        width: 30px;
        height: 30px;
    }

    & tbody .box:hover {
        background: #FA7B1F;
        color: #fff;
    }

    & .box {
        color: #000008;
    }

    & tbody .active {
        color: #FA7B1F;
    }
}

.open {
    display: block;
}

.close {
    display: none;
}

.booking__calendar-wrapper {
    max-width: 632px;
    margin: 0 auto;

    .calendar {
        max-width: 632px;
        width: 100%;
        line-height: 1.2em;
        font-size: 14px;
        text-align: center;
        border: 1px solid #E4E3E3;
        border-bottom: none;
        margin: 0;

        & thead tr:last-child {
            font-size: small;
            color: rgb(85, 85, 85);
        }

        & .month-year {
            color: #0C385F;
            font-size: 20px;
            line-height: 20px;
        }

        & .w100 {
            height: 20px;
        }

        & thead tr:nth-child(1) td:nth-child(1):hover,
        & thead tr:nth-child(1) td:nth-child(3):hover {
            cursor: pointer;
        }

        & tbody td {
            color: rgba(0, 0, 8, 0.4);
            border-radius: 10px;
            width: 30px;
            height: 30px;
        }

        & tbody .active,
        & tbody .box:hover {
            background: #FA7B1F;
            color: #fff;
        }

        & .box {
            color: #000008;
        }
    }
}