a {
    color: #DDDDDD;
    width: 100%;
}

&__dropdown-link {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    position: relative;
    z-index: 10;
    &_first::before {
        content: '';
        position: absolute;
        top: 50%;
        right: -10px;
        width: 5px;
        height: 5px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
    }
    &_first:hover:before {
        border-right: 1px solid #FA7B1F;
        border-bottom: 1px solid #FA7B1F;
    }
    a:hover {
        color: #FA7B1F;
    }
}

&__dropdown {
    position: absolute;
    display: none;
    background: #FFFEF2;
    width: 190px;
    top: 100%;
    flex-direction: column;
    left: 0;
    border-radius: 5px;
    padding: 4px 5px;
    &_second {
        top: -4px;
        left: 101%;
        width: 307px;
    }
}

&__dropdown-item {
    text-align: start;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        font-family: Roboto Slab, sans-serif;
        font-style: normal;
        font-size: 12px;
        line-height: 20px;
        color: #011224;
        position: relative;
        display: block;
    }
    span {
        font-size: 14px;
        line-height: 10px;
    }
}

@media screen and (max-width: 1024px) {
    & {
        padding: 0 0 50px 0;
    }
    &__navigation {
        padding: 25px 20px 25px 0;
        background: rgba(168, 168, 168, 0.486);
    }
    &__menu {
        position: absolute;
        top: 100%;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        background: rgba(168, 168, 168, 0.486);
    }
    &__menu-item {
        margin: 20px;
        position: unset;
    }
    &__sub-title {
        padding-left: 20px;
    }
    &__title {
        padding-left: 20px;
    }
    &__dropdown_first {
        width: 100vw;
        left: 0;
        justify-content: space-between;
        padding: 0 20px;
        height: 40px;
    }
    &__dropdown_second {
        width: 100vw;
        left: 0;
        justify-content: space-between;
        padding: 0 20px;
        height: 40px;
        top: 103%;
    }
}