@import 'social-list';

.footer {
    background: url('../img/header-bg.jpg') center center/cover no-repeat;
    padding: 50px 20px 30px 20px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__social-wrapper {
        max-width: 140px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__menu {
        max-width: 190px;
        width: 100%;
    }

    &__menu-item {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;

        a {
            color: #ddd;

            &:hover {
                color: #FA7B1F;
            }
        }
    }

    &__contacts {
        max-width: 285px;
        width: 100%;
        color: #fff;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        line-height: 24px;

        a {
            color: #ddd;
        }
    }

    &__contacts-info {
        display: flex;
        align-items: center;
        margin-top: 22px;

        svg {
            margin-right: 13px;
        }
    }
}

@media screen and (max-width: 1024px){
    .footer{
        &__container{
            align-items: center;
        }

        &__menu{
            display: none;
        }

        &__contacts{
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: none;
        }

        &__contacts-info{
            margin: 0;
        }
    }
}

@media screen  and (max-width: 760px){
    .footer{
        &__contacts{
            display: none;
        }

        &__social-wrapper{
            flex-direction: row;
            justify-content: space-between;
            max-width: none;
        }
    }
}