.header {
    background: url('../img/header-bg.jpg') center center/cover no-repeat;
    padding: 35px 15px 50px;
    color: #fff;
    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 75px;
        position: relative;
    }
    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        max-width: 800px;
        width: 100%;
    }
    @import "_dropdown";
    &__sub-title {
        font-family: Roboto Slab, sans-serif;
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
    }
    &__title {
        font-family: Roboto Slab, sans-serif;
        font-size: 42px;
        line-height: 36px;
        color: #FFFFFF;
        margin: 5px 0;
    }
    &__search {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            animation: rotat 2s;
            transform: scale(1.1) rotate(0deg);
        }
    }
    &__menu-item {
        position: relative;
    }
}

@keyframes rotat {
    0% {
        transform: scale(1.1) rotate(5deg);
    }
    20% {
        transform: scale(1.1) rotate(-5deg);
    }
    40% {
        transform: scale(1.1) rotate(5deg);
    }
    60% {
        transform: scale(1.1) rotate(-5deg);
    }
}

.disblk {
    display: flex;
}