.confirm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__info {
        background: #FFFFFF;
        border-radius: 5px;
        max-width: 640px;
        padding: 50px;
    }
    &__text {
        font-size: 22px;
        line-height: 36px;
        text-align: center;
    }
    &__btn {
        margin-top: 40px;
        padding: 15px 0;
    }
}