.glide {
    &__slider {
        position: relative;
    }
    &__slider-btn-prev,
    &__slider-btn-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        max-width: 50px;
        max-height: 50px;
        cursor: pointer;
        svg {
            width: 100%;
            height: 100%;
        }
        &:hover {
            opacity: .5;
        }
    }
    &__slides {
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
    }
    &__slider-track {
        overflow: hidden;
    }
    &__bullets {
        position: absolute;
        z-index: 2;
        bottom: -50px;
        left: 50%;
        display: inline-flex;
        list-style: none;
        transform: translateX(-50%);
    }
    &__bullet {
        border: 1px solid #242B6C;
        width: 9px;
        height: 9px;
        padding: 0;
        border-radius: 50%;
        transition: all 300ms ease-in-out;
        cursor: pointer;
        line-height: 0;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
        margin: 0 0.25em;
        &:focus {
            outline: none;
        }
        &:hover {
            border-color: #FA7B1F;
        }
        &--active {
            background: #242B6C;
        }
    }
}

@media screen and (max-width: 600px) {
    .glide {
        &__controls {
            display: none;
        }
    }
}