.social-list {
  width: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
    max-width: 20px;
    max-height: 20px;

    svg {
      width: 100%;
      height: 100%;
      fill: #fff;

      &:hover {
        fill: #FA7B1F;
      }
    }
  }
}

@media screen and (max-width: 760px){
  .social-list{
    width: 130px;

    &__icon{
      max-width: 30px;
      max-height: 30px;
    }
  }
}