.residence {

    &__container{
        position: relative;
        padding-top: 100px;
    }

    &__page-name{
        top: 50px;
    }

    &__title{
        text-align: center;
        margin-bottom: 37px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__block {
        max-width: 255px;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    &__img {
        max-width: 255px;
        max-height: 192px;
    }

    &__name {
        font-family: Roboto Slab, sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #011224;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        font-family: Roboto, sans-serif;
        font-size: 12px;
        line-height: 14px;
        color: #242B6C;
    }

    &__address {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 24px;
        color: #4F4F4F;
    }

    &__near {
        font-family: Roboto, sans-serif;
        font-size: 12px;
        line-height: 24px;
        color: #4F4F4F;
    }

}

@media screen and (max-width: 1024px){
    .residence{
        &__wrapper{
            justify-content: space-around;
        }
    }
}