.booking {
    padding: 0 20px 114px 20px;
    &__title {
        text-align: center;
        margin: 0 0 30px 0;
    }
    &__radio-time-wrapper {
        margin: 0 auto;
        max-width: 310px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &__radio-time {
        max-width: 100px;
        width: 100%;
        displaY: flex;
        flex-direction: row-reverse;
        font-family: Roboto Slabm sans-serif;
        font-size: 24px;
        line-height: 32px;
        position: relative;
        margin: auto;
        cursor: pointer;
        input {
            display: none;
        }
        input:checked+span:before {
            background-color: #FA7B1F;
        }
    }
    &__radio-circle {
        display: block;
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #FA7B1F;
        &_pos {
            left: -5px;
        }
        &:before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }
    &__open-calendar {
        max-width: 200px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 37px auto;
        font-family: Roboto Slab, sans-serif;
        font-size: 24px;
        line-height: 32px;
        cursor: pointer;
        svg {
            width: 23px;
            height: 23px;
            margin-right: 10px;
        }
        &-arrow {
            position: absolute;
            right: -15px;
            top: 50%;
            transform: rotate(-45deg);
            display: block;
            width: 10px;
            height: 10px;
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
        }
    }
    &__time-interval-evening {
        max-width: 632px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 25px 50px;
        border: 1px solid #E4E3E3;
    }
    &__radio-interval {
        max-width: 160px;
        width: 100%;
        height: 47px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            display: none;
        }
        input:checked+span {
            color: #fff;
            background-color: #FA7B1F;
            border-radius: 5px;
        }
        span {
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #000;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    &__name-surname-title {
        font-family: Roboto Slab, sans-serif;
        font-size: 20px;
        line-height: 26px;
        margin-top: 37px;
        text-align: center;
    }
    &__name-surname-wrapper {
        max-width: 540px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    &__input {
        width: 100%;
        margin-top: 37px;
        border: 2px solid rgb(195, 195, 195);
        input {
            width: 100%;
            text-align: center;
            padding: 10px;
            font-family: Roboto Slab, sans-serif;
            font-size: 20px;
            line-height: 24px;
            opacity: .7;
            border: none;
            background: transparent !important;
        }
    }
    &__submit-btn {
        display: block;
        margin: 37px auto 0 auto;
    }
    .disabled {
        background: rgba(79, 79, 79, 0.4);
        cursor: unset;
    }
}

.checked {
    border: 2px solid #6FCF97;
    position: relative;
    &:first-of-type:before {
        content: "Ваше ім'я";
        position: absolute;
        background: #fff;
        font-size: 14px;
        top: -9px;
        left: 4%;
        width: 80px;
        color: rgba(0, 0, 8, 0.6);
        z-index: 5;
        text-align: center;
    }
    &:last-of-type:before {
        content: "Номер телефону";
        position: absolute;
        background: #fff;
        font-size: 14px;
        top: -9px;
        left: 4%;
        width: 120px;
        color: rgba(0, 0, 8, 0.6);
        z-index: 5;
        text-align: center;
    }
    &:after {
        content: "✔";
        position: absolute;
        top: 50%;
        right: 6%;
        font-size: 25px;
        transform: translateY(-50%);
        color: #6FCF97;
    }
}

@media screen and (max-width: 570px) {
    .booking {
        &__time-interval-evening {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}