.reviews {
    padding: 0 20px 150px 20px;
    &__slide {
        padding: 26px;
        height: 200px;
        background: #efeedd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    &__text {
        font-family: Roboto, sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #4F4F4F;
        text-align: center;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 13px;
    }
    &__reviewer {
        font-family: Roboto, sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
    }
    &__rating {
        width: 110px;
        height: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .reviews {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .reviews {
        &__slider {
            max-width: 90%;
            margin: 0 auto;
        }
    }
}