.for-guests {
    padding: 0 20px 100px 20px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_mar {
            margin-bottom: 100px;
        }
    }
    &__block {
        display: block;
        max-width: 350px;
        max-height: 240px;
        width: 100%;
        font-family: Roboto, sans-serif;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #fff;
        position: relative;
        &:hover {
            transform: scale(1.02);
        }
    }
    &__img {
        max-width: 350px;
        max-height: 240px;
        width: 100%;
    }
    span {
        width: 100%;
        height: 40px;
        background-color: rgba(255, 255, 255, .4);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__big-img {
        max-width: 445px;
        max-height: 240px;
    }
    &__inner-wrapper {
        padding: 0 20px;
    }
    &__title {
        max-width: 635px;
        font-family: Roboto Slab, sans-serif;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 37px;
    }
}

@media screen and (max-width: 1200px) {
    .for-guests {
        &__content {
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__block {
            width: 50%;
            margin: 10px 10px;
        }
        &__inner-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 20px 0;
        }
        &__title {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 630px) {
    .for-guests {
        &__inner-wrapper {
            width: 100%;
        }
    }
}

@media screen and (max-width: 570px) {
    .for-guests {
        &__block {
            width: 75%;
        }
    }
}