.excursions-type {
    padding: 100px 20px 100px 20px;
    &__container {
        position: relative;
    }
    &__page-name {
        top: -100px;
    }
    &__title {
        text-align: center;
    }
    &__content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__description-wrapper {
        max-width: 728px;
        width: 100%;
        p:nth-child(2) {
            margin-bottom: 37px;
            margin-top: 37px;
        }
    }
    &__description-title {
        text-align: center;
        font-family: Roboto Slab, sans-serif;
        font-size: 24px;
        line-height: 32px;
        color: #011224;
    }
    &__info-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
    }
    &__info-item {
        display: flex;
        align-items: center;
    }
    &__info-icon {
        margin-right: 10px;
        height: 30px;
    }
}

@media screen and (max-width: 736px) {
    .excursions-type {
        .description {
            text-align: justify;
        }
        &__info-wrapper {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__info-item {
            margin: 10px 0;
        }
    }
}

@media screen and (max-width: 570px) {
    .excursions-type {
        &__info-item {
            font-size: 13px;
            justify-content: flex-start;
        }
        &__info-item:nth-of-type(1),
        &__info-item:nth-of-type(3) {
            width: 65%;
        }
        &__info-item:nth-of-type(2),
        &__info-item:nth-of-type(4) {
            width: 35%;
        }
    }
}

@media screen and (max-width: 570px) {
    .excursions-type {
        &__info-wrapper {
            flex-direction: column;
        }
        &__info-item:nth-of-type(1),
        &__info-item:nth-of-type(2),
        &__info-item:nth-of-type(3),
        &__info-item:nth-of-type(4) {
            justify-content: center;
            width: 100%;
        }
    }
}