.about {
    padding: 38px 20px 20px 20px;
    &__container {
        padding-top: 48px;
        padding-bottom: 100px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        max-width: 540px;
    }
    &__title {
        margin: 37px 0;
    }
    &__descrition {
        margin-bottom: 37px;
    }
    &__btn {
        margin-top: 50px;
    }
    &__img {
        max-width: 540px;
        max-height: 432px;
    }
}

@media screen and (max-width: 1024px) {
    .about {
        &__container {
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 20px;
        }
    }
}

@media screen and (max-width: 570px) {
    .about {
        padding: 0;
        &__content {
            padding: 10px;
        }
        &__btn {
            display: block;
            margin: 40px auto 0;
        }
        &__description {
            text-align: justify;
        }
    }
}