.activity {
  padding: 0 20px 100px 20px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    text-align: center;
  }

  &__block {
    max-width: 350px;
  }

  &__img {
    max-width: 350px;
    max-height: 288px;
  }

  &__btn {
    max-width: 190px;
    width: 100%;
    height: 50px;
    font-family: Roboto Slab, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    background-color: #242B6C;
    border-radius: 5px;
    border: none;
    display: block;
    margin: 37px auto 0 auto;
    
    &:hover{
      cursor: pointer;
      background-color: #10162d;
    }
  }
}

@media screen and (max-width: 570px) {
  .activity{
    padding: 20px;

    &__img{
      max-width: 170px;
      max-height: 150px;
    }
  }
}

@media screen and (max-width: 330px){
  .activity{
    &__container{
      flex-direction: column;
    }

    &__block{
      padding: 10px;
    }
  }
}