.blog {
    font-family: Roboto Slab, sans-serif;
    padding-bottom: 100px;
    &__title {
        text-align: center;
    }
    &__btn-wrapper {
        max-width: 564px;
        width: 100%;
        margin: 0 auto 37px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        font-family: Roboto Slab, sans-serif;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #011224;
        border: none;
        background-color: transparent;
        &:hover {
            color: #FA7B1F;
            cursor: pointer;
        }
    }
    &__slider-btn-prev {
        left: -54px;
    }
    &__slider-btn-next {
        right: -54px;
    }
    &__slide-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #011224;
        height: 48px;
    }
    &__slide-date {
        display: flex;
        font-size: 12px;
        line-height: 24px;
        color: rgba(36, 43, 108, 0.5);
    }
    &__slide-clock-img {
        max-width: 13px;
        max-height: 13px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 1200px) {
    .blog {
        padding: 0 20px 100px 20px;
        & .glide__controls {
            display: none;
        }
    }
}

@media screen and (max-width: 440px) {
    .blog {
        &__btn-wrapper {
            flex-direction: column;
        }
        &__btn {
            margin-bottom: 10px;
        }
    }
}