.excursions {
    padding: 0 20px 140px 20px;
    &__title {
        text-align: center;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__description {
        max-width: 730px;
        width: 100%;
    }
    &__description-title {
        font-family: Roboto Slab, sans-serif;
        font-size: 24px;
        line-height: 32px;
        color: #011224;
        margin-bottom: 37px;
    }
    &__btn {
        margin-top: 37px;
    }
    &__calendar {
        width: 350px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #FFFEF2;
    }
    &__calendar-title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 20px;
        color: #242B6C;
    }
    &__calendar-example {
        display: flex;
        max-width: 220px;
        width: 100%;
        span {
            background: #FA7B1F;
            border-radius: 5px;
            margin-right: 10px;
            width: 22px;
            height: 18px;
            display: block;
        }
    }
    &__type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
    }
    &__type-block {
        display: block;
        max-width: 350px;
        &:hover {
            transform: scale(1.02);
        }
    }
    &__type-img {
        max-width: 350px;
        max-height: 216px;
        position: relative;
    }
    &__type-name {
        width: 100%;
        height: 38px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.75);
        font-family: Roboto Slabm sans-serif;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #011224;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        span {
            display: flex;
            align-items: center;
            font-family: Roboto, sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #011224;
            svg {
                margin-right: 10px;
                max-width: 30px;
                max-height: 30px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .excursions {
        padding: 0 20px 60px 20px;
        &__description {
            display: none;
        }
        &__calendar {
            display: none;
        }
        &__type {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__type-block {
            width: 50%;
            padding: 10px;
            max-width: none;
            margin-bottom: 20px;
        }
        &__type-img {
            max-width: none;
            max-height: none;
        }
    }
}

@media screen and (max-width: 570px) {
    .excursions {
        padding: 20px;
        &__type-block {
            width: 90%;
        }
    }
}