.gallery {
    padding: 0 20px 100px 20px;
    &__title {
        text-align: center;
    }
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__img1 {
        max-width: 350px;
        max-height: 255px;
        //margin-bottom: 30px;
    }
    &__img2 {
        max-width: 350px;
        max-height: 168px;
    }
    &__center-img {
        max-width: 350px;
        max-height: 453px;
        padding: 5px;
    }
    &__btn {
        display: block;
        margin: 37px auto 0 auto;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px;
    }
}

@media screen and (max-width: 1200px) {
    .gallery {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .gallery {
        padding: 20px;
        &__wrapper {
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 570px) {
    .gallery {
        &__img1 {
            margin-bottom: 10px;
        }
        &__img2 {
            margin-bottom: 10px;
        }
        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}