.virtual {
  padding: 0 20px 100px 20px;

  &__title {
    text-align: center;
  }

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__map-img {
    max-width: 445px;
    max-height: 264px;
  }

  &__content {
    max-width: 634px;
    width: 100%;
  }

  &__btn {
    display: block;
    margin-top: 37px;
  }
}


@media screen and (max-width: 1024px){
  .virtual{
    display: none;
  }
}