.attractions {
    padding: 50px 0 100px 0;
    &__container {}
    &__title {
        text-align: center;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__zoo {
        max-width: 350px;
        max-height: 432px;
    }
    &__places {
        max-width: 65%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__fontans-wrap {
        max-width: 65%;
    }
    &__fontans {
        max-height: 350px;
    }
    &__place-wrap {
        max-width: 350px;
        max-height: 216px;
    }
    &__tower {
        max-width: 350px;
        max-height: 350px;
    }
    &__place-title {
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        color: #011224;
        margin-top: 10px;
    }
    &__adress {
        font-size: 14px;
        line-height: 24px;
        color: #4F4F4F;
    }
    &__work-time {
        margin-bottom: 100px;
    }
}