.information {
    padding: 0 20px 0 20px;

    &__container {
        position: relative;
        padding-top: 100px;
    }

    &__page-name {
        top: 50px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 100px;
    }

    &__title {
        font-family: Roboto Slab, sans-serif;
        font-size: 36px;
        line-height: 47px;
        text-align: center;
    }

    &__description-title {
        font-family: Roboto Slab, sans-serif;
        font-size: 24px;
        line-height: 32px;
        color: #011224;

    }

    &__description {
        max-width: 445px;
        margin: 37px 0 37px 0;
        padding: 10px;
    }

    &__img {
        max-width: 635px;
        max-height: 408px;
    }
}


@media screen and (max-width: 1024px) {
    .information {
        &__content {
            flex-direction: column;
            padding-bottom: 30px;
        }

        &__content-reverse {
            flex-direction: column-reverse;
        }

        &__description {
            max-width: 632px;
            padding: 0;
        }

    }
}

@media screen and (max-width: 570px) {
    .information {
        &__title {
            font-size: 26px;
        }
    }
}

@media screen and (max-width: 414px) {
    .information {
        &__title {
            font-size: 20px;
            white-space: nowrap;
        }

        &__description {
            text-align: justify;
        }
    }
}