<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/reset.css")
        link(rel="stylesheet", href="../../css/styles.css")
        title Observatory/Attractions
    body
        include components/_header
        section.attractions
            .container.attractions__container
                span.page-name.attractions__page-name Головна / Екскурсії / Інформація для гостей міста / Пам'ятники міста
                h2.attractions__title Пам'ятники міста
                //Attractions
                .attractions__wrapper
                    .attractions__zoo-wrapper
                        figure.attractions__zoo
                            img(src="../../img/attractions/zoo.png", alt="Zoo")
                        p.attractions__place-title Миколаївський зоопарк
                        p.attractions__adress м.Миколаїв, пл.М.Леонтовича,1
                        p.attractions__work-time Влітку:    9:00 - 18:00 <br>Взимку:    9:00 - 17:00<br> Вихідні та святкові дні:    9:00 - 19:00
                    .attractions__places
                        .attractions__place-wrap
                            figure.attractions__place-inner
                                img(src="../../img/attractions/place-1.png", alt="Museum")
                            p.attractions__place-title Музей суднобудування та флоту
                            p.attractions__adress м.Миколаїв, вул.Адміральська,4
                        .attractions__place-wrap
                            figure.attractions__place-inner
                                img(src="../../img/attractions/place-2.png", alt="Port")
                            p.attractions__place-title 8 Причал
                            p.attractions__adress м.Миколаїв,узвіз Варварівський, 5а
                        .attractions__place-wrap
                            figure.attractions__place-inner
                                img(src="../../img/attractions/place-3.png", alt="Church")
                            p.attractions__place-title Костел святого Йосипа
                            p.attractions__adress м.Миколаїв, вул. Декабристів, 32
                        .attractions__place-wrap
                            figure.attractions__place-inner
                                img(src="../../img/attractions/place-4.png", alt="Center")
                            p.attractions__place-title Виставково-експозиційний центр
                            p.attractions__adress м.Миколаїв, вул.2 Екіпажна, 1
                    .attractions__fontans-wrap
                        figure.attractions__fontans
                            img(src="../../img/attractions/fontan.png", alt="Fontasns")
                        p.attractions__place-title Світло-музичні фонтани
                        p.attractions__adress м.Миколаїв, пл. Соборна
                    .attractions__tower-wrap
                        figure.attractions__tower
                            img(src="../../img/attractions/tower.png", alt="Tower")
                        p.attractions__place-title Шуховська вежа
                        p.attractions__adress м.Миколаїв, вул.Рюміна, 15
        include components/_footer
        script(src="../../js/scripts.js")