<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/reset.css")
        link(rel="stylesheet", href="../../css/styles.css")
        title Observatory/school
    body
        include components/_header
        //EXCURSIONS TYPE
        section.excursions-type
            .container.excursions-type__container
                h2.excursions-type__title Группові
                span.page-name.excursions-type__page-name Головна / Екскурсії / Группові
                .excursions-type__content-wrapper
                    .excursions-type__description-wrapper
                        p.excursions-type__description-title Опис Екскурсії
                        p.description .
                            | Астрономічна прогулянка по обсерваторії - це  екскурсія 2 в 1, так як вона поєднує відвідування Обсерваторії  зі спостереженням за зірками та відвідування історичного Музею та Архівів.
                            | Захід тривалістю 2 години, під час якого екскурсовод  супроводжує вас, проводить цікаву лекцію , щоб ви змогли насолодитися  таємничою атмосферою Обсерваторії.
                            | Відвідування відбувається в денний, і в вечірній час. Після заходу сонця вас чекає спостереження за зірками та космічними тілами в телескопи далекого бачення.
                        p.description .
                            | Також ви можете взяти їжу з собою та перепочити посеред мальовничого парку, що розкинувся посеред Обсерваторії. Ми з радістю будемо бачити вас в Обсерваторії та залюбки зробимо пам’ятні фото для вас. До зустрічі!
                        .excursions-type__info-wrapper
                            span.excursions-type__info-item
                                svg.excursions-type__info-icon(width='26' height='37' viewbox='0 0 26 37' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M12.7088 17.2505C15.6159 17.2505 17.9726 15.0119 17.9726 12.2505C17.9726 9.48906 15.6159 7.25049 12.7088 7.25049C9.80174 7.25049 7.44507 9.48906 7.44507 12.2505C7.44507 15.0119 9.80174 17.2505 12.7088 17.2505Z' stroke='#242B6C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                    path(d='M23.2351 17.25C19.2873 26 12.7076 36 12.7076 36C12.7076 36 6.12787 26 2.18004 17.25C-1.76778 8.5 4.81193 1 12.7076 1C20.6032 1 27.1829 8.5 23.2351 17.25Z' stroke='#242B6C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                                span м.Миколаїв,вул.Обсерваторна, 1
                            span.excursions-type__info-item
                                svg.excursions-type__info-icon(viewbox='0 0 32 31' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M15.7897 0C7.08342 0 0 6.95345 0 15.5C0 24.0465 7.08342 31 15.7897 31C24.496 31 31.5794\
                                  24.0465 31.5794 15.5C31.5794 6.95345 24.496 0 15.7897 0ZM15.7897 29.0625C8.17144 29.0625 1.97372 22.9785 1.97372 15.5C1.97372 8.02151 8.17144 1.93751 15.7897 1.93751C23.408 1.93751 29.6057 8.02151 29.6057 15.5C29.6057 22.9785 23.408 29.0625 15.7897 29.0625Z' fill='#242B6C')
                                    path(d='M16.7765 5.8125H14.8027V15.9011L21.013 21.9974L22.4085 20.6275L16.7765 15.0988V5.8125Z' fill='#242B6C')
                                span 2 години
                            span.excursions-type__info-item
                                svg.excursions-type__info-icon(viewbox='0 0 31 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M30.3965 10.8502H22.6686V5.16689V3.10024V2.17878C22.6686 0.977529 21.6938 0 20.496 ' +
                                    '0H2.17257C0.974744 0 0 0.977529 0 2.17878V3.10024V5.16689V14.3545C0 15.5558 0.974744 16.5333 ' +
                                    '2.17257 16.5333H10.3039V22.7335C10.3039 23.0187 10.5342 23.2502 10.8191 23.2502H30.3965C30.6814 ' +
                                    '23.2502 30.9117 23.0187 30.9117 22.7335V11.3669C30.9117 11.0812 30.6814 10.8502 30.3965 10.8502ZM1.03041 ' +
                                    '3.61689H21.6382V4.65024H1.03041V3.61689ZM2.17257 1.03335H20.496C21.1261 1.03335 21.6382 1.54746 21.6382 ' +
                                    '2.17878V2.5836H1.03041V2.17878C1.03041 1.5474 1.54251 1.03335 2.17257 1.03335ZM2.17257 15.5C1.54251 15.5 ' +
                                    '1.03041 14.9859 1.03041 14.3546V5.6836H21.6382V10.8502H10.8191C10.5342 10.8502 10.3039 11.0812 10.3039 ' +
                                    '11.3669V15.4999L2.17257 15.5ZM29.8813 22.2169H11.3343V11.8836H29.8813V22.2169Z' fill='#242B6C')
                                span 300 грн
                            span.excursions-type__info-item
                                svg.excursions-type__info-icon(viewbox='0 0 20 44' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M19.7754 19.1589C19.7754 15.6337 16.9228 12.7754 13.4237 12.7754H6.35678C2.84915 12.7754 0.00512695 15.6423 0.00512695 19.1589V31.9344H4.24531V43.9998H15.5438V31.9344H19.784V19.1589H19.7754ZM18.3706 30.514H18.362H15.5352V21.9998H14.1218V42.5793H10.5883V32.5927H9.17495V42.5793H5.64146V21.9998H4.22807V30.514H1.40128V19.1589C1.40128 16.4218 3.61617 14.1872 6.34816 14.1872H13.4237C16.1471 14.1872 18.3706 16.4132 18.3706 19.1589V30.514Z' fill='#242B6C')
                                    path(d='M9.89008 0C6.77889 0 4.24512 2.54646 4.24512 5.67323C4.24512 8.80866 6.77889 11.3551 9.89008 11.3551C13.0013 11.3551 15.535 8.80866 15.535 5.68189C15.535 2.54646 13.0013 0 9.89008 0ZM9.89008 9.94331C7.55453 9.94331 5.64989 8.02913 5.64989 5.68189C5.64989 3.33465 7.55453 1.42047 9.89008 1.42047C12.2256 1.42047 14.1303 3.33465 14.1303 5.68189C14.1303 8.02913 12.2256 9.94331 9.89008 9.94331Z' fill='#242B6C')
                                span пішохідна екскурсія
                    .excursions__calendar
                        p.excursions__calendar-title КАЛЕНДАР ПОДІЙ
                        include components/_calendar
                        .excursions__calendar-example
                            span
                            p  - майбутній захід
        //BOOKING FORM
        section.booking
            .container
                h2.booking__title Оберіть екскурсію:
                form(method="GET" name="group").booking__form
                    .booking__radio-time-wrapper
                        label.booking__radio-time Денна
                            input(data-type="group" name="time" value="day" type="radio" checked)
                            span.booking__radio-circle
                        label.booking__radio-time Вечірня
                            input(data-type="group" name="time" value="night" type="radio" )
                            span.booking__radio-circle.booking__radio-circle_pos
                    .booking__open-calendar Дата та час
                        span.booking__open-calendar-arrow
                        svg(viewbox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M21.0833 13.6667V3.83332C21.0833 2.77626 20.2232 1.91664 19.1666 1.91664H16.2916V0.479137C16.2917 0.214322 16.0774 0 15.8125 0C15.5476 0 15.3333 0.214322 15.3333 0.479182V1.91668H6.70832V0.479182C6.70832 0.214322 6.49404 0 6.22918 0C5.96432 0 5.75 0.214322 5.75 0.479182V1.91668H1.91668C0.860074 1.91668 0 2.77626 0 3.83332V19.1666C0 20.2237 0.860074 21.0833 1.91668 21.0833H13.6666C14.6343 22.2532 16.0962 23 17.7292 23C20.635 23 23 20.6355 23 17.7292C23 16.0961 22.2531 14.6342 21.0833 13.6667ZM0.958318 3.83332C0.958318 3.30504 1.38791 2.875 1.91668 2.875H5.75V3.83332C5.22122 3.83332 4.79168 4.26336 4.79168 4.79164C4.79168 5.31992 5.22127 5.74996 5.75 5.74996C6.27873 5.74996 6.70832 5.31992 6.70832 4.79164V2.875H15.3333V3.83332C14.8045 3.83332 14.375 4.26336 14.375 4.79164C14.375 5.31992 14.8046 5.74996 15.3333 5.74996C15.8621 5.74996 16.2916 5.31992 16.2916 4.79164V2.875H19.1666C19.6955 2.875 20.125 3.30504 20.125 3.83332V6.70832H0.958318V3.83332ZM1.91668 20.125C1.38791 20.125 0.958363 19.695 0.958363 19.1667V7.66668H20.125V13.0403C19.4052 12.6709 18.5922 12.4584 17.7292 12.4584C14.8233 12.4584 12.4584 14.8228 12.4584 17.7292C12.4584 18.5922 12.671 19.4052 13.0403 20.125H1.91668ZM17.7292 22.0417C15.3511 22.0417 13.4167 20.1072 13.4167 17.7292C13.4167 15.3512 15.3512 13.4167 17.7292 13.4167C20.1072 13.4167 22.0417 15.3512 22.0417 17.7292C22.0417 20.1072 20.1072 22.0417 17.7292 22.0417Z' fill='#242B6C')
                            path(d='M18.2083 17.5308V14.8542C18.2083 14.5893 17.994 14.375 17.7291 14.375C17.4643 14.375 17.25 14.5893 17.25 14.8542V17.7292C17.25 17.8564 17.3005 17.9781 17.3904 18.068L18.8279 19.5055C18.9215 19.5991 19.0441 19.6459 19.1667 19.6459C19.2893 19.6459 19.4119 19.5991 19.5055 19.5055C19.6927 19.3183 19.6927 19.0151 19.5055 18.8279L18.2083 17.5308Z' fill='#242B6C')
                    .booking__calendar-wrapper.close
                        include components/_calendar
                        .booking__time-interval-evening
                            label.booking__radio-interval
                                input(type="radio" name="time-interval" value="10-11" checked)
                                span 10:00-11:00
                            label.booking__radio-interval
                                input(type="radio" name="time-interval"  value="11-12")
                                span 11:00-12:00
                            label.booking__radio-interval
                                input(type="radio" name="time-interval"  value="12-13")
                                span 12:00-13:00
        
                    p.booking__name-surname-title Будь ласка, заповніть інформацію
                    .booking__name-surname-wrapper
                        label.booking__input
                            input(type="text" name="user_name" required placeholder="Ваше ім’я" pattern="^[а-яА-Яa-zA-Z]+$")
                        label.booking__input
                            input(type="text" name="user_phone" required placeholder="Номер телефону" pattern="^([0-9]{3}|[0]{1})[0-9]{9}$")
                        button(name="submit" disabled type="submit").yellow-btn.booking__submit-btn.disabled Забронювати
        //GALLERY
        section.gallery
            .container
                h2.gallery__title Фотогалерея
                .gallery__slider.glide__slider
                    div.glide__controls(data-glide-el='controls')
                        button(data-glide-dir="<").glide__slider-btn-prev.blog__slider-btn-prev
                            svg(xmlns='http://www.w3.org/2000/svg' version='1.1' x='0px' y='0px' viewbox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;')
                                path.active-path(d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8\
                                                          c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712\
                                                          L143.492,221.863z' fill='#665F60')
                        button(data-glide-dir=">").glide__slider-btn-next.blog__slider-btn-next
                            svg(xmlns='http://www.w3.org/2000/svg' version='1.1' x='0px' y='0px' viewbox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;')
                                path(d='M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734\
                                                          L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8\
                                                          C342.889,227.058,342.889,216.255,336.226,209.591z' fill='#665F60')
                    .glide__slider-track(data-glide-el="track")
                        .glide__slides
                            .gallery__slide
                                figure.blog__slide-img
                                    img(src="../../img/excursions-page-school/image1.png" alt='Gallery-img')
                            .gallery__slide
                                figure.blog__slide-img
                                    img(src="../../img/excursions-page-school/image2.png" alt='Gallery-img')
                            .gallery__slide
                                figure.blog__slide-img
                                    img(src="../../img/excursions-page-school/image3.png" alt='Gallery-img')
                            .gallery__slide
                                figure.blog__slide-img
                                    img(src="../../img/excursions-page-school/image3.png" alt='Gallery-img')
                    .glide__bullets(data-glide-el='controls[nav]')
                        button.glide__bullet(data-glide-dir='=0')
                        button.glide__bullet(data-glide-dir='=1')
                        button.glide__bullet(data-glide-dir='=2')
                        button.glide__bullet(data-glide-dir='=3')
        //REVIEW
        section.reviews
            .container
                h2.reviews__title Відгуки
                .glide__slider.reviews__slider
                    div.glide__controls(data-glide-el='controls')
                        button(data-glide-dir="<").glide__slider-btn-prev.blog__slider-btn-prev
                            svg(xmlns='http://www.w3.org/2000/svg' version='1.1' x='0px' y='0px' viewbox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;')
                                path.active-path(d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8\
                                                                      c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712\
                                                                      L143.492,221.863z' fill='#665F60')
                        button(data-glide-dir=">").glide__slider-btn-next.blog__slider-btn-next
                            svg(xmlns='http://www.w3.org/2000/svg' version='1.1' x='0px' y='0px' viewbox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;')
                                path(d='M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734\
                                                                      L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8\
                                                                      C342.889,227.058,342.889,216.255,336.226,209.591z' fill='#665F60')
                    .glide__slider-track(data-glide-el="track")
                        .glide__slides
                            .reviews__slide
                                p.review__text   Захід тривалістю 2 години, під час якого екскурсовод  супроводжує вас,
                                    | проводить цікаву лекцію , щоб ви змогли насолодитися атмосферою.
                                .reviews__info
                                    p.reviews__reviewer Алла Васюкіна
                                    figure.reviews__rating
                                        img(src="../../img/excursions-page-school/stars.png" alt="stars")
                            .reviews__slide
                                p.review__text   Захід тривалістю 2 години, під час якого екскурсовод  супроводжує вас,
                                    | проводить цікаву лекцію , щоб ви змогли насолодитися атмосферою.
                                .reviews__info
                                    p.reviews__reviewer Алла Васюкіна
                                    figure.reviews__rating
                                        img(src="../../img/excursions-page-school/stars.png" alt="stars")
                            .reviews__slide
                                p.review__text   Захід тривалістю 2 години, під час якого екскурсовод  супроводжує вас,
                                    | проводить цікаву лекцію , щоб ви змогли насолодитися атмосферою.
                                .reviews__info
                                    p.reviews__reviewer Алла Васюкіна
                                    figure.reviews__rating
                                        img(src="../../img/excursions-page-school/stars.png" alt="stars")
                            .reviews__slide
                                p.review__text   Захід тривалістю 2 години, під час якого екскурсовод  супроводжує вас,
                                    | проводить цікаву лекцію , щоб ви змогли насолодитися атмосферою.
                                .reviews__info
                                    p.reviews__reviewer Алла Васюкіна
                                    figure.reviews__rating
                                        img(src="../../img/excursions-page-school/stars.png" alt="stars")
                    .glide__bullets(data-glide-el='controls[nav]')
                        button.glide__bullet(data-glide-dir='=0')
                        button.glide__bullet(data-glide-dir='=1')
                        button.glide__bullet(data-glide-dir='=2')
                        button.glide__bullet(data-glide-dir='=3')
        section.for-guests
            .container
                .for-guests__content.for-guests__content_mar
                    a(href="#").for-guests__block
                        figure.for-guests__img
                            img(src="../../img/excursions-page-school/residence.png" alt='residence')
                        span Проживання
                    a(href="#").for-guests__block
                        figure.for-guests__img
                            img(src="../../img/excursions-page-school/attractions.png" alt='attractions')
                        span Пам'ятки міста
                    a(href="#").for-guests__block
                        figure.for-guests__img
                            img(src="../../img/excursions-page-school/food.png" alt='food')
                        span Їжа
                .for-guests__content
                    figure.for-guests__big-img
                        img(src="../../img/excursions-page-school/observ.png" alt='observ')
                    .for-guests__inner-wrapper
                        p.for-guests__title Відчуйте дух історіїї в майбутньому! Забронюйте екскурсію вже зараз!
                        button.yellow-btn Забронювати
        include components/_footer
        script(src="../../js/scripts.js")