<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/reset.css")
        link(rel="stylesheet", href="../../css/styles.css")
        title Observatory/for-guests
    body
        include components/_header
        section.information
            .container.information__container
                span.page-name.information__page-name Головна / Екскурсії / Інформація для гостей міста
                h2.information__title Інформація для гостей міста
                //RESIDENCE
                .information__content
                    figure.information__img
                        img(src="../../img/for-guests-page/residence.png")
                    .information__description
                        p.information__description-title Проживання
                            p.description.information__description  Відвідуючи Миколаїв на вихідні або в уікенд ви з легкістю
                                | знайдете місце де залишитись відповідно до Ваших вподобань.
                                | Тут представлено найближче житло від Обсерваторії.
                        button.details-btn Детальніше
                .information__content.information__content-reverse
                    .information__description
                        p.information__description-title Пам’ятки міста
                            p.description.information__description  Звісно, що на Обсерваторії цікаві місця, які просто
                                | необхідно відвідати, - не закінчуються.  Що ще можна побачити будучи в Миколаєві?
                                | Цікаві місця для прогулянки вихіного дня.
                        button.details-btn Детальніше
                    figure.information__img
                        img(src="../../img/for-guests-page/attractions.png")
                //FOOD
                .information__content
                    figure.information__img
                        img(src="../../img/for-guests-page/food.png")
                    .information__description
                        p.information__description-title Їжа
                            p.description.information__description  Завітавши до Миколаєва, не забудьте про кулінарну
                                | сторону міста. Цікаві, популярні заклади міста зі смачною кухнею, які точно Вас здивують.
                        button.details-btn Детальніше
        include components/_footer
        script(src="../../js/scripts.js")