<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/reset.css")
        link(rel="stylesheet", href="../../css/styles.css")
        title Observatory
    body
        include components/_header
        //ABOUT
        section.about
            .container.about__container
                span.page-name Головна
                .about__content
                    h2.about__title Про обсерваторію
                    p.description.about__description .
                        | Миколаївська обсерваторія — одна з найстаріших обсерваторій Східної Європи, заснована 27 травня 1821 року,
                        | адміралом О.Грейгом, як морська. Сьогодні вона включена до Попереднього списку об'єктів Всесвітньої спадщини ЮНЕСКО від України.
                        | Обсерваторія приємно здивує вас багатою історією, чарівною атмосферою самої території та старовинним музеєм .
                    button.details-btn.about__btn Детальніше
                figure.about__img
                    img(src="../../img/main-page/about-img.jpg" alt='about-img')
        //EXCURSIONS
        section.excursions
            h2.excursions__title Екскурсії
            .container.excursions__container
                .excursions__content
                    .excursions__description
                        h3.excursions__description-title Сплануйте свою екскурсію
                        p.description .
                            | Проведіть свій час в незабутній астрономічній подорожі! Екскурсію ведуть співробітники
                            | обсерваторії, лекція яких захопить усю увагу аудиторії. До екскурсії крім лекції входить:
                            | спостереження в телескопи за космічними тілами ,прогулянка пейзажною територією та огляд історичного музею з його пам’ятками.
                        button.details-btn.excursions__btn Детальніше
                    .excursions__calendar
                        p.excursions__calendar-title КАЛЕНДАР ПОДІЙ
                        include components/_calendar
                        .excursions__calendar-example
                            span
                            p  - майбутній захід   
                .excursions__type
                    a(href="excursions-page-school.html").excursions__type-block
                        figure.excursions__type-img
                            img(src="../../img/main-page/excursions-type-school.png" alt='excursions-type-school')
                            .excursions__type-name Шкільні
                        .excursions__info
                            span
                                svg(width='31' height='24' viewbox='0 0 31 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M30.3965 10.8502H22.6686V5.16689V3.10024V2.17878C22.6686 0.977529 21.6938 0 20.496 ' +
                                    '0H2.17257C0.974744 0 0 0.977529 0 2.17878V3.10024V5.16689V14.3545C0 15.5558 0.974744 16.5333 ' +
                                    '2.17257 16.5333H10.3039V22.7335C10.3039 23.0187 10.5342 23.2502 10.8191 23.2502H30.3965C30.6814 ' +
                                    '23.2502 30.9117 23.0187 30.9117 22.7335V11.3669C30.9117 11.0812 30.6814 10.8502 30.3965 10.8502ZM1.03041 ' +
                                    '3.61689H21.6382V4.65024H1.03041V3.61689ZM2.17257 1.03335H20.496C21.1261 1.03335 21.6382 1.54746 21.6382 ' +
                                    '2.17878V2.5836H1.03041V2.17878C1.03041 1.5474 1.54251 1.03335 2.17257 1.03335ZM2.17257 15.5C1.54251 15.5 ' +
                                    '1.03041 14.9859 1.03041 14.3546V5.6836H21.6382V10.8502H10.8191C10.5342 10.8502 10.3039 11.0812 10.3039 ' +
                                    '11.3669V15.4999L2.17257 15.5ZM29.8813 22.2169H11.3343V11.8836H29.8813V22.2169Z' fill='#242B6C')
                                span 200 грн
                            span
                                svg(viewbox='0 0 20 44' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M19.7754 19.1589C19.7754 15.6337 16.9228 12.7754 13.4237 12.7754H6.35678C2.84915 12.7754 0.00512695 15.6423 0.00512695 19.1589V31.9344H4.24531V43.9998H15.5438V31.9344H19.784V19.1589H19.7754ZM18.3706 30.514H18.362H15.5352V21.9998H14.1218V42.5793H10.5883V32.5927H9.17495V42.5793H5.64146V21.9998H4.22807V30.514H1.40128V19.1589C1.40128 16.4218 3.61617 14.1872 6.34816 14.1872H13.4237C16.1471 14.1872 18.3706 16.4132 18.3706 19.1589V30.514Z' fill='#242B6C')
                                    path(d='M9.89008 0C6.77889 0 4.24512 2.54646 4.24512 5.67323C4.24512 8.80866 6.77889 11.3551 9.89008 11.3551C13.0013 11.3551 15.535 8.80866 15.535 5.68189C15.535 2.54646 13.0013 0 9.89008 0ZM9.89008 9.94331C7.55453 9.94331 5.64989 8.02913 5.64989 5.68189C5.64989 3.33465 7.55453 1.42047 9.89008 1.42047C12.2256 1.42047 14.1303 3.33465 14.1303 5.68189C14.1303 8.02913 12.2256 9.94331 9.89008 9.94331Z' fill='#242B6C')
                                span до 35 осіб
                    a(href="excursions-page-group.html").excursions__type-block
                        figure.excursions__type-img
                            img(src="../../img/main-page/excursions-type-group.png" alt='excursions-type-group')
                            .excursions__type-name Групові
                        .excursions__info
                            span
                                svg(width='31' height='24' viewbox='0 0 31 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M30.3965 10.8502H22.6686V5.16689V3.10024V2.17878C22.6686 0.977529 21.6938 0 20.496 ' +
                                    '0H2.17257C0.974744 0 0 0.977529 0 2.17878V3.10024V5.16689V14.3545C0 15.5558 0.974744 16.5333 ' +
                                    '2.17257 16.5333H10.3039V22.7335C10.3039 23.0187 10.5342 23.2502 10.8191 23.2502H30.3965C30.6814 ' +
                                    '23.2502 30.9117 23.0187 30.9117 22.7335V11.3669C30.9117 11.0812 30.6814 10.8502 30.3965 10.8502ZM1.03041 ' +
                                    '3.61689H21.6382V4.65024H1.03041V3.61689ZM2.17257 1.03335H20.496C21.1261 1.03335 21.6382 1.54746 21.6382 ' +
                                    '2.17878V2.5836H1.03041V2.17878C1.03041 1.5474 1.54251 1.03335 2.17257 1.03335ZM2.17257 15.5C1.54251 15.5 ' +
                                    '1.03041 14.9859 1.03041 14.3546V5.6836H21.6382V10.8502H10.8191C10.5342 10.8502 10.3039 11.0812 10.3039 ' +
                                    '11.3669V15.4999L2.17257 15.5ZM29.8813 22.2169H11.3343V11.8836H29.8813V22.2169Z' fill='#242B6C')
                                span 250 грн
                            span
                                svg(viewbox='0 0 20 44' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M19.7754 19.1589C19.7754 15.6337 16.9228 12.7754 13.4237 12.7754H6.35678C2.84915 12.7754 0.00512695 15.6423 0.00512695 19.1589V31.9344H4.24531V43.9998H15.5438V31.9344H19.784V19.1589H19.7754ZM18.3706 30.514H18.362H15.5352V21.9998H14.1218V42.5793H10.5883V32.5927H9.17495V42.5793H5.64146V21.9998H4.22807V30.514H1.40128V19.1589C1.40128 16.4218 3.61617 14.1872 6.34816 14.1872H13.4237C16.1471 14.1872 18.3706 16.4132 18.3706 19.1589V30.514Z' fill='#242B6C')
                                    path(d='M9.89008 0C6.77889 0 4.24512 2.54646 4.24512 5.67323C4.24512 8.80866 6.77889 11.3551 9.89008 11.3551C13.0013 11.3551 15.535 8.80866 15.535 5.68189C15.535 2.54646 13.0013 0 9.89008 0ZM9.89008 9.94331C7.55453 9.94331 5.64989 8.02913 5.64989 5.68189C5.64989 3.33465 7.55453 1.42047 9.89008 1.42047C12.2256 1.42047 14.1303 3.33465 14.1303 5.68189C14.1303 8.02913 12.2256 9.94331 9.89008 9.94331Z' fill='#242B6C')
                                span до 15 осіб
                    a(href="excursions-page-individual.html").excursions__type-block
                        figure.excursions__type-img
                            img(src="../../img/main-page/excursions-type-individual.png" alt='excursions-type-individual')
                            .excursions__type-name Індивідуальні
                        .excursions__info
                            span
                                svg(width='31' height='24' viewbox='0 0 31 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M30.3965 10.8502H22.6686V5.16689V3.10024V2.17878C22.6686 0.977529 21.6938 0 20.496 ' +
                                    '0H2.17257C0.974744 0 0 0.977529 0 2.17878V3.10024V5.16689V14.3545C0 15.5558 0.974744 16.5333 ' +
                                    '2.17257 16.5333H10.3039V22.7335C10.3039 23.0187 10.5342 23.2502 10.8191 23.2502H30.3965C30.6814 ' +
                                    '23.2502 30.9117 23.0187 30.9117 22.7335V11.3669C30.9117 11.0812 30.6814 10.8502 30.3965 10.8502ZM1.03041 ' +
                                    '3.61689H21.6382V4.65024H1.03041V3.61689ZM2.17257 1.03335H20.496C21.1261 1.03335 21.6382 1.54746 21.6382 ' +
                                    '2.17878V2.5836H1.03041V2.17878C1.03041 1.5474 1.54251 1.03335 2.17257 1.03335ZM2.17257 15.5C1.54251 15.5 ' +
                                    '1.03041 14.9859 1.03041 14.3546V5.6836H21.6382V10.8502H10.8191C10.5342 10.8502 10.3039 11.0812 10.3039 ' +
                                    '11.3669V15.4999L2.17257 15.5ZM29.8813 22.2169H11.3343V11.8836H29.8813V22.2169Z' fill='#242B6C')
                                span 300 грн
                            span
                                svg(viewbox='0 0 20 44' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M19.7754 19.1589C19.7754 15.6337 16.9228 12.7754 13.4237 12.7754H6.35678C2.84915 12.7754 0.00512695 15.6423 0.00512695 19.1589V31.9344H4.24531V43.9998H15.5438V31.9344H19.784V19.1589H19.7754ZM18.3706 30.514H18.362H15.5352V21.9998H14.1218V42.5793H10.5883V32.5927H9.17495V42.5793H5.64146V21.9998H4.22807V30.514H1.40128V19.1589C1.40128 16.4218 3.61617 14.1872 6.34816 14.1872H13.4237C16.1471 14.1872 18.3706 16.4132 18.3706 19.1589V30.514Z' fill='#242B6C')
                                    path(d='M9.89008 0C6.77889 0 4.24512 2.54646 4.24512 5.67323C4.24512 8.80866 6.77889 11.3551 9.89008 11.3551C13.0013 11.3551 15.535 8.80866 15.535 5.68189C15.535 2.54646 13.0013 0 9.89008 0ZM9.89008 9.94331C7.55453 9.94331 5.64989 8.02913 5.64989 5.68189C5.64989 3.33465 7.55453 1.42047 9.89008 1.42047C12.2256 1.42047 14.1303 3.33465 14.1303 5.68189C14.1303 8.02913 12.2256 9.94331 9.89008 9.94331Z' fill='#242B6C')
                                span до 5 осіб
        //ACTIVITY
        section.activity
            h2.activity__title Діяльність
            .container.activity__container
                .activity__block
                    figure.activity__img
                        img(src="../../img/main-page/scientific.png" alt='scientific')
                    button.activity__btn Наукова
                .activity__block
                    figure.activity__img
                        img(src="../../img/main-page/humanitarian.png" alt='humanitarian')
                    button.activity__btn Гуманітарна
        //VIRTUAL
        section.virtual
            h2.virtual__title Віртуальна обсерваторія
            .container.virtual__container
                figure.virtual__map-img
                    img(src="../../img/main-page/map.png" alt='map')
                .virtual__content
                    p.description Концепція віртуальної обсерваторії забезпечує об’єднання існуючих астрономічних ресурсів, сумісність даних, отриманих з різних установ на національному та міжнародному рівнях.
                    button.details-btn.virtual__btn Детальніше
        //GALLERY
        section.gallery
            h2.gallery__title Фотогаллерея
            .container.gallery__container
                .gallery__wrapper
                    figure.gallery__img1
                        img(src="../../img/main-page/img1.png" alt='gallery-img')
                    figure.gallery__img2
                        img(src="../../img/main-page/img2.png" alt='gallery-img')
                figure.gallery__center-img
                    img(src="../../img/main-page/img3.png" alt='gallery-img')
                .gallery__wrapper
                    figure.gallery__img1
                        img(src="../../img/main-page/img4.png" alt='gallery-img')
                    figure.gallery__img2
                        img(src="../../img/main-page/img5.png" alt='gallery-img')
            button.details-btn.gallery__btn Детальніше
        //BLOG
        section.blog
            h2.blog__title Блог
            .container
                .blog__content-wrapper
                    .blog__btn-wrapper
                        button.blog__btn Новини
                        button.blog__btn Питання/відповідь
                        button.blog__btn Статті
                    .blog__slider.glide__slider
                        div(data-glide-el='controls').glide__controls
                            button(data-glide-dir="<").glide__slider-btn-prev.blog__slider-btn-prev
                                svg(xmlns='http://www.w3.org/2000/svg' version='1.1' x='0px' y='0px' viewbox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;')
                                    path.active-path(d='M143.492,221.863L336.226,29.129c6.663-6.664,6.663-17.468,0-24.132c-6.665-6.662-17.468-6.662-24.132,0l-204.8,204.8\
                                      c-6.662,6.664-6.662,17.468,0,24.132l204.8,204.8c6.78,6.548,17.584,6.36,24.132-0.42c6.387-6.614,6.387-17.099,0-23.712\
                                      L143.492,221.863z' fill='#665F60')
                            button(data-glide-dir=">").glide__slider-btn-next.blog__slider-btn-next
                                svg(xmlns='http://www.w3.org/2000/svg' version='1.1' x='0px' y='0px' viewbox='0 0 443.52 443.52' style='enable-background:new 0 0 443.52 443.52;')
                                    path(d='M336.226,209.591l-204.8-204.8c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.712l192.734,192.734\
                                      L107.294,414.391c-6.663,6.664-6.663,17.468,0,24.132c6.665,6.663,17.468,6.663,24.132,0l204.8-204.8\
                                      C342.889,227.058,342.889,216.255,336.226,209.591z' fill='#665F60')
                        .glide__slider-track(data-glide-el="track")
                            .glide__slides
                                .blog__slide
                                    figure.blog__slide-img
                                        img(src="../../img/main-page/news-img1.png" alt='news-img')
                                    p.blog__slide-title Астрономія і творчість
                                    .blog__slide-date
                                        figure.blog__slide-clock-img
                                            img(src="../../img/main-page/clock.png" alt='clock')
                                        span 26.04.2020
                                    p.blog__slide-description Виставка Вікторії Федюніної присвячена безкрайному космосу.
                                .blog__slide
                                    figure.blog__slide-img
                                        img(src="../../img/main-page/news-img2.png" alt='news-img')
                                    p.blog__slide-title Прогулянка серед зірок
                                    .blog__slide-date
                                        figure.blog__slide-clock-img
                                            img(src="../../img/main-page/clock.png" alt='clock')
                                        span 26.04.2020
                                    p.blog__slide-description Зануринитися в зоряне небо- легко!
                                .blog__slide
                                    figure.blog__slide-img
                                        img(src="../../img/main-page/news-img3.png" alt='news-img')
                                    p.blog__slide-title Нова обсерваторія поруч
                                    .blog__slide-date
                                        figure.blog__slide-clock-img
                                            img(src="../../img/main-page/clock.png" alt='clock')
                                        span 26.04.2020
                                    p.blog__slide-description Це неймовірно, але факт. Вона розпочала свою роботу.
                                .blog__slide
                                    figure.blog__slide-img
                                        img(src="../../img/main-page/news-img4.png" alt='news-img')
                                    p.blog__slide-title Останні дослідження в світі
                                    .blog__slide-date
                                        figure.blog__slide-clock-img
                                            img(src="../../img/main-page/clock.png" alt='clock')
                                        span 26.04.2020
                                    p.blog__slide-description Огляд останніх новин в світі астрономії
                                .blog__slide
                                    figure.blog__slide-img
                                        img(src="../../img/main-page/news-img1.png" alt='news-img')
                                    p.blog__slide-title Астрономія і творчість
                                    .blog__slide-date
                                        figure.blog__slide-clock-img
                                            img(src="../../img/main-page/clock.png" alt='clock')
                                        span 26.04.2020
                                    p.blog__slide-description Виставка Вікторії Федюніної присвячена безкрайному космосу.
                        .glide__bullets(data-glide-el='controls[nav]')
                            button.glide__bullet(data-glide-dir='=0')
                            button.glide__bullet(data-glide-dir='=1')
                            button.glide__bullet(data-glide-dir='=2')
                            button.glide__bullet(data-glide-dir='=3')
                            button.glide__bullet(data-glide-dir='=4')

        include components/_footer
        script(src="../../js/scripts.js")
        