<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../css/reset.css")
        link(rel="stylesheet", href="../../css/styles.css")
        title Observatory/residence
    body
        include components/_header
        section.residence
            .container.residence__container
                span.page-name.residence__page-name Головна / Екскурсії /Інформація для гостей міста / Проживання
                h2.residence__title Проживання
                .residence__wrapper
                    .residence__block
                        figure.residence__img
                            img(src="../../img/residence/continent.png" alt="residence photo")
                        .residence__info
                            p.residence__name
                                span Континент
                                span.residence__price від 800 грн
                            p.residence__address вул. Адмірала Макарова, 41
                            p.residence__near 2,5 км від Обсерваторії
                    .residence__block
                        figure.residence__img
                            img(src="../../img/residence/foxhostel.png" alt="residence photo")
                        .residence__info
                            p.residence__name Fox Хостел
                                span.residence__price від 260 грн
                            p.residence__address вул. Фалеївська, 19
                            p.residence__near 1,3 км від Обсерваторії
                    .residence__block
                        figure.residence__img
                            img(src="../../img/residence/piligrim.png" alt="residence photo")
                        .residence__info
                            p.residence__name Готель Пілігрим
                                span.residence__price від 260 грн
                            p.residence__address вул. Велика Морська, 102
                            p.residence__near 2,8 км від Обсерваторії
                    .residence__block
                        figure.residence__img
                            img(src="../../img/residence/ukraine.png" alt="residence photo")
                        .residence__info
                            p.residence__name Готель Ukraine
                                span.residence__price від 980 грн
                            p.residence__address пр. Центральний, 57
                            p.residence__near 1,4 км від Обсерваторії
                    .residence__block
                        figure.residence__img
                            img(src="../../img/residence/ukraine.png" alt="residence photo")
                        .residence__info
                            p.residence__name Готель Ukraine
                                span.residence__price від 980 грн
                            p.residence__address пр. Центральний, 57
                            p.residence__near 1,4 км від Обсерваторії
                    .residence__block
                        figure.residence__img
                            img(src="../../img/residence/natali.png" alt="residence photo")
                        .residence__info
                            p.residence__name Готель Наталі
                                span.residence__price від 650 грн
                            p.residence__address вул. 6 Поперечна, 75
                            p.residence__near 7,7 км від Обсерваторії
                    .residence__block
                        figure.residence__img
                            img(src="../../img/residence/river.png" alt="residence photo")
                        .residence__info
                            p.residence__name Reikartz Рівер
                                span.residence__price від 750 грн
                            p.residence__address вул. Велика Морська, 102
                            p.residence__near 1,5 км від Обсерваторії
                    .residence__block
                        figure.residence__img
                            img(src="../../img/residence/coral.png" alt="residence photo")
                        .residence__info
                            p.residence__name Готель Корал
                                span.residence__price від 260 грн
                            p.residence__address вул. Адмірала Макарова, 22
                            p.residence__near 750 м від Обсерваторії
        include components/_footer
            script(src="../../js/scripts.js")
